<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>smart</display-name>

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>SmartSecurityFilter</filter-name>
		<filter-class>com.doservlet.plugin.security.SmartSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SmartSecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
